<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Student-Attendance-Tracker</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>StudentDashboardServlet</servlet-name>
    <servlet-class>com.attendance.controller.StudentDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDashboardServlet</servlet-name>
    <url-pattern>/student_dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ElectiveSelectionServlet</servlet-name>
    <servlet-class>com.attendance.controller.ElectiveSelectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElectiveSelectionServlet</servlet-name>
    <url-pattern>/elective_selection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignSubject</servlet-name>
    <servlet-class>com.attendance.controller.AssignSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignSubject</servlet-name>
    <url-pattern>/assign_subject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddSubject</servlet-name>
    <servlet-class>com.attendance.controller.AddSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubject</servlet-name>
    <url-pattern>/AddSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTeacher</servlet-name>
    <servlet-class>com.attendance.controller.AddTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacher</servlet-name>
    <url-pattern>/add_teacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.attendance.controller.LoginAMS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginAMS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterStudentServlet</servlet-name>
    <servlet-class>com.attendance.controller.RegisterAMS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterStudentServlet</servlet-name>
    <url-pattern>/RegisterStudentServlet</url-pattern>
  </servlet-mapping>
</web-app>